{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 79,
  "singleQuote": false,
  "bracketSameLine": false,
  "semi": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
